<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <center><h1>SSCL Waiver</h1></center>
      <form method="POST" action="{% url 'waiver' %}">{% csrf_token %}
        {% for field in form %}
          {% if field.label == "Football" %}
            <div class="checkbox">
              <label>
                {{ field }} Also include me in the football group.
              </label>
            </div>
          {% else %}
            <div class="form-group">
              <label for="{{ field.label }}">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <p style="color: red; margin-top: 5px;">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{ field.errors.0 }}
                </p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<script>
$('#id_phone').on('keypress', function(ev) {
    var keyCode = window.event ? ev.keyCode : ev.which;
    //codes for 0-9
    if (keyCode < 48 || keyCode > 57) {
        //codes for backspace, delete, enter
        if (keyCode != 0 && keyCode != 8 && keyCode != 13 && !ev.ctrlKey) {
            ev.preventDefault();
        }
    }
});
</script>

</body>
</html>
