{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'View' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
    <div class="app-send module">
      <form id="send-form" method="POST">
        {% csrf_token %}
        <table style="width:100%">
        <caption>
            <a class="section" title="Send Message">Send Message</a>
        </caption>
        <tr style="display:none" class="form-error-msg">
            <td>
                <ul class="messagelist">
                    <li class="error">A subject and a body are required.</li>
                </ul>
            </td>
        </tr>
        <tr class="model-1"><td><input name="subject" id="subject" style="width:98%" placeholder="Subject" type="text" /></td></tr>
        <tr class="model-1"><td><textarea name="body" id="body" rows="4" style="width:98%" placeholder="Body"></textarea></td></tr>
        <tr class="model-1"><td><input id="send" value="Send" type="submit" /></td></tr>
        <tr style="display:none" class="sending-msg"><td>Your emails are being sent...</td></tr>
        <tr style="display:none" class="complete-msg">
            <td>
                <ul class="messagelist">
                    <li class="success">Your message was sent successfully.</li>
                </ul>
            </td>
        </tr>
        <tr style="display:none" class="error-msg">
            <td>
                <ul class="messagelist">
                    <li class="error">An error occured! Some emails may not have been sent.</li>
                </ul>
            </td>
        </tr>
        </table>
      </form>
    </div>

</div>

<script>
 $('#send-form').on('submit', function(e){
    e.preventDefault();
    subject = $('#subject').val()
    body = $('#body').val()
    if(subject === "" || body === "") {
        $('.form-error-msg').show()
    } else {
        $('.form-error-msg').hide()
        formData = {
            'subject': subject,
            'body': body,
        }
        $('.model-1').hide();
        $('.sending-msg').show()
        $.ajax({
            url : "{% url 'send' %}",
            type: "POST",
            data : formData,
            success: function(data) {
                $('.complete-msg').show()
                $('.sending-msg').hide()
            },
            error: function (e) {
                $('.sending-msg').hide()
                $('.error-msg').show()
            }
        });
    }
});
</script>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Confirmed' %}</h2>
        <ul class="actionlist">
            {% for person in confirmed %}
            <li>
            <a>{{ person.first }} {{ person.last }}</a>
                <br/>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
