{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<style>
.stat-name {
    font-weight: bold;
}
</style>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
      {% if app.app_label == "people" %}
        <div class="app-{{ app.app_label }} module">
        <table>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'View' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
      {% endif %}
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
    <div class="announcement module">
        <form id="announcement-form" method="POST" action="{% url 'announcement' %}">
          {% csrf_token %}
          <table style="width:100%">
          <caption>
            <a class="section" title="Announcement">Announcement</a>
          </caption>
          <tr><td><textarea name="editor1" id="editor1" style="height: 100px">{{ announcement.text }}</textarea></tr></td>
          <tr><td>
            <input id="send" value="Save" type="submit" />
            <a style="margin-top: 10px; float:right;" target="_blank" href="{% url 'confirm' 00000000 %}">View announcement page</a>
          </tr></td>
          <script>
              CKEDITOR.replace( 'editor1' );
          </script>
          </table>
        </form>
    </div>


    <div class="app-send module">
      <form id="send-form" method="POST">
        {% csrf_token %}
        <table style="width:100%">
        <caption>
            <a class="section" title="Send Message">Send Message</a>
        </caption>
        <tr style="display:none" class="form-error-msg">
            <td>
                <ul class="messagelist">
                    <li class="error">A subject and a body are required.</li>
                </ul>
            </td>
        </tr>
        <tr class="model-1"><td><input name="subject" id="subject" rows="10" columns="80"  placeholder="Subject" type="text" /></td></tr>
        <tr class="model-1"><td><textarea name="body" id="body" rows="4" style="width:98%" placeholder="Email Message"></textarea></td></tr>
        <tr class="model-1"><td><textarea name="txtbody" id="txtbody" rows="4" style="width:98%" placeholder="Text Message"></textarea></td></tr>
        <tr class="model-1"><td><label><input type="checkbox" name="withlink" id="withlink" checked><span style="margin-left: 10px; cursor:pointer; ">Send with confirmation link</span></label></td></tr>
        <tr class="model-1"><td><input id="send" value="Send" type="submit" /></td></tr>
        <tr style="display:none" class="sending-msg"><td>Your emails are being sent...</td></tr>
        <tr style="display:none" class="complete-msg">
            <td>
                <ul class="messagelist">
                    <li class="success">Your messages are being sent! You can check to waiver page for progess.</li>
                </ul>
            </td>
        </tr>
        <tr style="display:none" class="error-msg">
            <td>
                <ul class="messagelist">
                    <li class="error">An error occured! Some emails may not have been sent.</li>
                </ul>
            </td>
        </tr>
        </table>
      </form>
    </div>
</div>

<script>
 $('#send-form').on('submit', function(e){
    e.preventDefault();
    subject = $('#subject').val()
    body = $('#body').val()
    txtbody = $('#txtbody').val()
    withlink = $('#withlink')[0].checked
    if(subject === "" || (body === "" && txtbody === "")) {
        $('.form-error-msg').show()
    } else {
        $('.form-error-msg').hide()
        formData = {
            'subject': subject,
            'body': body,
            'txtbody': txtbody,
            'withlink': withlink,
        }
        $('.model-1').hide();
        $('.sending-msg').show()
        $.ajax({
            url : "{% url 'send' %}",
            type: "POST",
            data : formData,
            success: function(data) {
                $('.complete-msg').show()
                $('.sending-msg').hide()
            },
            error: function (e) {
                $('.sending-msg').hide()
                $('.error-msg').show()
            }
        });
    }
});
</script>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div style="background-color: white;">
        <p style="display:inline-block">Viewed: {{ tracker.view_count }}</p>
        <p style="display:inline-block">Yes: {{ tracker.yes_count }}</p>
        <p style="display:inline-block">No: {{ tracker.no_count }}</p>
    </div>
    <hr>
    <div class="module" id="recent-actions-module">
        <h2 style="display: inline-block">{% trans 'Confirmed' %}</h2>
        <a style="padding: 20px; display: inline-block; float:right;" href="{% url 'clear' %}">Clear</a>
        <ul class="actionlist">
            {% for person in confirmed %}
            <li>
            <a>{{ person.first }} {{ person.last }}</a>
                <br/>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
