{% extends 'base.html' %}

{% block title %}SSCL Waiver{% endblock %}

{% block info %}
      <h4>WAIVER OF LIABILITY AND HOLD HARMLESS AGREEMENT</h4>
        <div style="font-size: 9px; color: grey;">
        <p>1. I acknowledge that I have voluntarily agreed to participate in the “Weekly Wednesday Night Basketball Activity”, (“Activity”). I hereby release, waive, discharge and covenant not to sue Cambridge Christian School or Steve Richardson, its officers, servants, agents and employees (hereinafter referred to as "Hosts") from any and all liability, claims, demands, actions and causes of action whatsoever arising out of or relating to any loss, damage or injury, including death, that may be sustained by me, or to any property belonging to me, whether caused by the negligence of the Hosts, or otherwise, while participating in the Activity, or while in, on or upon the premises where the Activity is being conducted, while in transit to or from the premises, or in any place or places connected with the Activity.</p>
        <p>2. I am fully aware of risks and hazards connected with being on the premises and participating in the Activity, and I am fully aware that there may be risks and hazards unknown to me connected with being on the premises and participating in the Activity, and I hereby elect to voluntarily participate in the Activity, to enter upon the above named premises (6101 N Habana Ave, Tampa, FL 33614) and engage in activities knowing that conditions may be hazardous, or may become hazardous or dangerous to me and my property. I voluntarily assume full responsibility for any risks of loss, property damage or personal injury, including death, that may be sustained by me, or any loss or damage to property owned by me, as a result of my being a participant in the Activity, whether caused by the negligence of Hosts or otherwise.</p>
        <p>3. I further hereby agree to indemnify and save and hold harmless the Hosts and each of them, from any loss, liability, damage or costs they may incur due to my participation in the Activity, whether caused by the negligence of any or all of the Hosts, or otherwise.</p>
        <p>4. It is my express intent that this Release shall bind the members of my family and spouse, if I am alive, and my heirs, assigns and personal representative, if I am deceased, and shall be deemed as a Release, Waiver, Discharge and Covenant Not to Sue the above named Hosts.</p>
        <p><b>In signing this release, I acknowledge and represent that:</b></p>
        <p>A. I have read the foregoing release, understand it, and sign it voluntarily as my own free act and deed;</p>
        <p>B. No oral representation, statements or inducements, apart from the foregoing written agreement, have been made;</p>
        <p>C. I am at least eighteen (18) years of age and fully competent; and</p>
        <p>D. I execute this Release for full, adequate and complete consideration fully intending to be bound by same.</p>
        <p><b>I HAVE CAREFULLY READ THIS AGREEMENT AND FULLY UNDERSTAND ITS CONTENTS. I AM AWARE THAT THIS IS A RELEASE OF LIABILITY AND A CONTRACT BETWEEN MYSELF AND HOST(S) OF THIS ACTIVITY AND SIGN IT OF MY OWN FREE WILL.</b></p>
      </div>
      <form method="POST" action="{% url 'waiver' %}">{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
              <label for="{{ field.label }}">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <p style="color: red; margin-top: 5px;">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{ field.errors.0 }}
                </p>
              {% endif %}
            </div>
        {% endfor %}
        <p><b>By my signature, I acknowledge that I have read, understand, and agree to the policies above.</b></p>      
        <button style="width:100%;" type="submit" class="btn btn-success">I Agree</button>
      </form>
{% endblock %}

{% block extra_scripts %}
<script>
$('#id_phone').on('keypress', function(ev) {
    var keyCode = window.event ? ev.keyCode : ev.which;
    //codes for 0-9
    if (keyCode < 48 || keyCode > 57) {
        //codes for backspace, delete, enter
        if (keyCode != 0 && keyCode != 8 && keyCode != 13 && !ev.ctrlKey) {
            ev.preventDefault();
        }
    }
});
</script>
{% endblock %}
